@tailwind base;
@tailwind components;
@tailwind utilities;



.productCard{
  @apply flex justify-center flex-col items-center text-center p-12 ;
  width: 23rem;
}


.workCard{
  @apply text-left ;
  width: 25rem;
  height: 26rem;
}

.workCard img{
  width: 100%;
}

.testimonialCard{
  @apply p-8 flex flex-col justify-between bg-gray-100 ;
  width: 25rem;
  height: 17rem;
}


.brandSlider img{
  width: 6rem;
  height: 3rem;
}